<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
  Docker has built-in logging driver for Fluentd which is very convenient for applications running on Kubernetes. 
  Logs are directly shipped to Fluentd service from STDOUT and no additional logs file or persistent storage is required  
-->


<configuration>
  <springProfile name="dev,test,integration-test,all-test">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
      </encoder>
    </appender>
    <!-- <logger name="org.hibernate.SQL" level="debug"/> -->
    <root level="info">
      <appender-ref ref="stdout" />
    </root>
  </springProfile>

  <springProfile name="local-k8s,staging-k8s,prod-k8s">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="jsonLogger" additivity="false" level="info">
      <appender-ref ref="stdout" />
    </logger>

    <root level="info">
      <appender-ref ref="stdout" />
    </root>
  </springProfile>


</configuration>