<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
  Docker has built-in logging driver for Fluentd which is very convenient for applications running on Kubernetes. 
  Logs are directly shipped to Fluentd service from STDOUT and no additional logs file or persistent storage is required  
-->


<configuration>

  <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
  </appender>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%gray(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable</pattern>
    </encoder>
  </appender>

  <!-- <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOGS}/spring-boot-logger.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOGS}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender> -->

  <springProfile name="!k8s">
    <!-- to view SQL statements, change to DEBUG -->
    <!-- <logger name="org.hibernate.SQL" level="WARN" /> -->

    <!-- LOG everything at INFO level -->
    <root level="info">
      <appender-ref ref="stdout" />
    </root>
  </springProfile>

  <springProfile name="k8s">
    <!-- LOG everything at INFO level -->
    <root level="info">
      <appender-ref ref="stdout" />
      <!-- <appender-ref ref="RollingFile" /> -->
    </root>
  </springProfile>


</configuration>